In [1]:
import pandas as pd 
import numpy as np 
import os
import warnings
from unidecode import unidecode
warnings.filterwarnings("ignore", category=UnicodeWarning)

In [2]:
import os

# Function to find and return matching subpaths in a directory
def find_matching_paths(root_dir):
    matching_paths = []
    
    # Get a list of folder names in the specified directory
    folders = os.listdir(root_dir)
    
    # Iterate through the folder names and check for underscores
    for folder in folders:
        if "_" in folder and os.path.isdir(os.path.join(root_dir, folder)):
            # Get the absolute path and add it to the matching_paths list
            path = os.path.abspath(os.path.join(root_dir, folder))
            matching_paths.append(path)
    
    return matching_paths

# Function to find all "2.dta" files in a folder
def find_2dta_files(folder_path):
    two_dta_files = []
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith("2.dta"):
                two_dta_files.append(os.path.join(root, file))
    return two_dta_files

# Function to get all "2.dta" files from matching paths
def get_dbs_paths(root_dir):
    matching_paths = find_matching_paths(root_dir)
    all_2dta_files = []
    for path in matching_paths:
        all_2dta_files.extend(find_2dta_files(path))
    return all_2dta_files

# Define the root directory
census_dir = "data/census/73"

# Get all "2.dta" files from matching paths
dbs = get_dbs_paths(census_dir)
dbs

['c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\058_Huila\\Huila\\HUILAR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\166_Antioquia\\Antioquia\\ANTIOR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\1e3_Sucre\\Sucre\\SUCRER2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\27b_Caldas\\Caldas\\CALDASR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\2c6_Guajira\\Guajira\\GUAJIR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\383_Quindio\\Quindio\\QUINDIR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\416_Atlantico\\Atlantico\\ATLANTR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\451_Choco\\Choco\\CHOCOR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\505_Bogota\\Bogota\\BOGOR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\5ec_Cundinamarca\\Cundinamarca\\CUNDIR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\610_NSantander\\NSantander\\NORTESR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\69e_Valle\\Valle\\VALLE2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\76f_Boyaca\\Boyaca\\BOYACAR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\826_Risaralda\\Risaralda\\RISARAR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\8d9_Cauca\\Cauca\\CAUCAR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\a2a_Cesar\\Cesar\\CESARR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\aaa_Santander\\Santander\\SANTANR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\b6e_Cordoba\\Cordoba\\CORDOR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\bfa_Magdalena\\Magdalena\\MAGDAR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\cbd_Meta\\Meta\\METAR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\de4_Narino\\Narino\\NARINOR2.dta',
 'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\census\\73\\fe8_Bolivar\\Bolivar\\BOLIR2.dta']

In [3]:
# PO6A y P07A pendiente de revisión - Lugar de nacimiento y donde vive.
# P20 y P21 pendiente de revisión - Número de hijos vivos.

# Continuas:
# Edad, Meses trabajados, Ingresos último mes, Número de hijos vivos, Número de hijos que tuvo.
# Dummies: 
# Sexo, Nacio aquí, Vive aquí, Sabe leer, Estudia, Tiene o no tiene ingresos.
# Categóricas:
# Estado civil, Nivel, Categórica

# Dict: https://microdatos.dane.gov.co/index.php/catalog/117/data-dictionary/F3?file_name=ESTRUCTURA%20VIVIENDAS%20PARTICULARES

selected_columns =  ['I01_DPTO', 'I02_MPIO', 'P03_SEXO', 'P04_EDAD', 'P05_ESTCIV', 
       'P10_LEE_ES', 'P11_ESTUDI', 'P12_NIVELE', 'P14_TRABAJ', 'P18_TRAB73', 'P19A_SINGR', 'P20_THNV']
len(selected_columns)

12

In [4]:
df_deptos = pd.DataFrame(columns=selected_columns)

for depto in dbs:
    data = pd.read_stata(depto, columns=selected_columns)
    
    # Concatenate the data to the df_deptos dataframe
    df_deptos = pd.concat([df_deptos, data], ignore_index=True)

In [5]:
df_deptos.shape

(18777865, 12)

In [6]:
df_deptos.describe()

           I02_MPIO      P04_EDAD    P18_TRAB73    P19A_SINGR      P20_THNV
count  1.877786e+07  1.877786e+07  1.256299e+07  4.369196e+06  5.512659e+06
mean   2.584059e+02  2.191080e+01  1.979076e+01  1.479894e+03  2.107415e+01
std    2.800368e+02  1.793545e+01  3.375764e+01  3.409209e+03  3.711917e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.000000e+00  8.000000e+00  0.000000e+00  3.600000e+02  1.000000e+00
50%    1.250000e+02  1.700000e+01  4.000000e+00  7.200000e+02  4.000000e+00
75%    5.160000e+02  3.200000e+01  1.000000e+01  1.500000e+03  1.000000e+01
max    8.990000e+02  9.900000e+01  9.900000e+01  9.999900e+04  9.900000e+01

In [7]:
df_deptos.head()

,I01_DPTO,I02_MPIO,P03_SEXO,P04_EDAD,P05_ESTCIV,P10_LEE_ES,P11_ESTUDI,P12_NIVELE,P14_TRABAJ,P18_TRAB73,P19A_SINGR,P20_THNV
0,Huila,1.0,Mujer,21.0,Casado,Si,No,Primaria,Quehaceres del hogar,99.0,NaN,1.0
1,Huila,1.0,Hombre,25.0,Casado,Si,No,Secundaria Bachillerato,Trabajo,10.0,1000.0,NaN
2,Huila,1.0,Hombre,7.0,Soltero,No,No,Ninguno,NaN,NaN,NaN,NaN
3,Huila,1.0,Mujer,8.0,Soltero,No,No,Ninguno,NaN,NaN,NaN,NaN
4,Huila,1.0,Hombre,9.0,Soltero,Si,Si,Primaria,NaN,NaN,NaN,NaN

In [8]:
df_deptos_c = df_deptos.copy()

In [9]:
# Changes:
dict_I01_DPTO = {5: 'ANTIOQUIA'}

dict_P03_SEXO_1 = { 'Hombre': 2, 'Mujer': 1}
dict_P03_SEXO_2 = { 2: 0} # 1 hombre, 0 mujer.

dict_P05_ESTCIV = { 1: "Union libre", 2: "Casado", 3: "Separado", 4: "Soltero", 5: "Viudo"}

dict_P10_LEE_ES_1 = { 'Si': 1, 'No': 2}
dict_P10_LEE_ES_2 = { 2: 0} # 1 Si lee y escribe, 0 en caso contrario.

dict_P11_ESTUDI_1 = { 'Si': 1, 'No': 2}
dict_P11_ESTUDI_2 = { 2: 0} # 1 Si estudia, 0 en caso contrario.

dict_P12_NIVELE = {1: "Ninguno", 2: "Primaria", 3: "Secundaria Bachillerato", 4: "Secundaria Tecnica", 5: "Secundaria Normal", 6: "Superior", 7:"Otros", 8:"Otros"}

dict_P14_TRABAJ = {1: "Trabajo", 2: "No trabajo", 3: "Busco y ha trabajado", 4: "Busco por primera vez", 5: "Vivio de su renta", 6: "Jubilado", 7:"Estudio", 8:"Quehaceres del hogar", 9:"Sin actividad"}

dict_P18_TRAB73 = {99: np.nan}

dict_P20_THNV = {99: np.nan}


# Preprocessing
df_deptos_c = df_deptos_c[df_deptos_c['I01_DPTO'] != 0]
df_deptos_c['I01_DPTO'] = df_deptos_c['I01_DPTO'].replace(dict_I01_DPTO)
df_deptos_c['I01_DPTO'] = df_deptos_c['I01_DPTO'].apply(lambda x: unidecode(str(x).upper()))

df_deptos_c = df_deptos_c.dropna(subset=['I02_MPIO', 'P03_SEXO', 'P05_ESTCIV'])
df_deptos_c['I02_MPIO'] = pd.to_numeric(df_deptos_c['I02_MPIO'], downcast='integer')

df_deptos_c['P03_SEXO'] = pd.to_numeric(df_deptos_c['P03_SEXO'].replace(dict_P03_SEXO_1), downcast='integer')
df_deptos_c['P03_SEXO'] = pd.to_numeric(df_deptos_c['P03_SEXO'].replace(dict_P03_SEXO_2), downcast='integer')

df_deptos_c['P04_EDAD'] = pd.to_numeric(df_deptos_c['P04_EDAD'], downcast='integer')

df_deptos_c = df_deptos_c[df_deptos_c['P05_ESTCIV'] != 6]
df_deptos_c['P05_ESTCIV'] = df_deptos_c['P05_ESTCIV'].replace(dict_P05_ESTCIV)
df_deptos_c = pd.get_dummies(df_deptos_c, columns=['P05_ESTCIV'], drop_first=False, dtype='int')

df_deptos_c = df_deptos_c[df_deptos_c['P10_LEE_ES'] != 3]
df_deptos_c['P10_LEE_ES'] = pd.to_numeric(df_deptos_c['P10_LEE_ES'].replace(dict_P10_LEE_ES_1), downcast='integer')
df_deptos_c['P10_LEE_ES'] = pd.to_numeric(df_deptos_c['P10_LEE_ES'].replace(dict_P10_LEE_ES_2), downcast='integer')

df_deptos_c = df_deptos_c[df_deptos_c['P11_ESTUDI'] != 3]
df_deptos_c['P11_ESTUDI'] = pd.to_numeric(df_deptos_c['P11_ESTUDI'].replace(dict_P11_ESTUDI_1), downcast='integer')
df_deptos_c['P11_ESTUDI'] = pd.to_numeric(df_deptos_c['P11_ESTUDI'].replace(dict_P11_ESTUDI_2), downcast='integer')

df_deptos_c['P12_NIVELE'] = df_deptos_c['P12_NIVELE'].replace(dict_P12_NIVELE)
df_deptos_c = pd.get_dummies(df_deptos_c, columns=['P12_NIVELE'], drop_first=False, dtype='int')

df_deptos_c = df_deptos_c[df_deptos_c['P14_TRABAJ'] != 0]
df_deptos_c['P14_TRABAJ'] = df_deptos_c['P14_TRABAJ'].replace(dict_P14_TRABAJ)
df_deptos_c = pd.get_dummies(df_deptos_c, columns=['P14_TRABAJ'], drop_first=False, dtype='int')

df_deptos_c['P18_TRAB73'] = df_deptos_c['P18_TRAB73'].replace(dict_P18_TRAB73)

df_deptos_c = df_deptos_c[df_deptos_c['P19A_SINGR'] != 99999]

df_deptos_c['P20_THNV'] = df_deptos_c['P20_THNV'].replace(dict_P20_THNV)


df_deptos_c

,I01_DPTO,I02_MPIO,P03_SEXO,P04_EDAD,P10_LEE_ES,P11_ESTUDI,P18_TRAB73,P19A_SINGR,P20_THNV,P05_ESTCIV_Casado,...,P12_NIVELE_Superior,P14_TRABAJ_Busco por primera vez,P14_TRABAJ_Busco y ha trabajado,P14_TRABAJ_Estudio,P14_TRABAJ_Jubilado,P14_TRABAJ_No trabajo,P14_TRABAJ_Quehaceres del hogar,P14_TRABAJ_Sin actividad,P14_TRABAJ_Trabajo,P14_TRABAJ_Vivio de su renta
0,HUILA,1,1,21,1.0,0.0,NaN,NaN,1.0,1,...,0,0,0,0,0,0,1,0,0,0
1,HUILA,1,0,25,1.0,0.0,10.0,1000.0,NaN,1,...,0,0,0,0,0,0,0,0,1,0
2,HUILA,1,0,7,0.0,0.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
3,HUILA,1,1,8,0.0,0.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
4,HUILA,1,0,9,1.0,1.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18777860,BOLIVAR,667,0,12,0.0,0.0,0.0,NaN,NaN,0,...,0,0,0,0,0,0,0,1,0,0
18777861,BOLIVAR,667,1,31,1.0,0.0,0.0,NaN,1.0,0,...,0,0,0,0,0,0,1,0,0,0
18777862,BOLIVAR,667,0,25,0.0,0.0,10.0,500.0,NaN,0,...,0,0,0,0,0,0,0,0,1,0
18777863,BOLIVAR,667,1,64,0.0,0.0,0.0,NaN,14.0,1,...,0,0,0,0,0,0,1,0,0,0
18777864,BOLIVAR,667,0,70,1.0,0.0,10.0,300.0,NaN,1,...,0,0,0,0,0,0,0,0,1,0

## Agregamos el código de los municipios

In [11]:
# Get the current working directory
current_dir = os.getcwd()

# Define the file path
codes_path = os.path.join(current_dir, "data", "leagues", "codigo_municipio.dta")
codes_path

'c:\\Users\\Sergio Julian Zona M\\Desktop\\Repositorios\\Universidad\\HEC_Proyecto_Final\\data\\leagues\\codigo_municipio.dta'

In [12]:
df_codes = pd.read_stata(codes_path)
df_codes = df_codes[['codigo_departamento', 'nombre_departamento']]

# Create a dictionary to specify the new column names
column_mapping = {
    'nombre_departamento': 'I01_DPTO',
    'codigo_departamento': 'codigo',
}

# Use the rename method to rename the columns
df_codes = df_codes.rename(columns=column_mapping)
df_codes = df_codes.drop_duplicates()

# Correcciones manuales
df_codes = df_codes.replace('BOGOTA. D.C.', 'BOGOTA')
df_codes = df_codes.replace('VALLE DEL CAUCA', 'VALLE')
df_codes = df_codes.replace('LA GUAJIRA', 'GUAJIRA')

code_dict = df_codes.set_index('I01_DPTO')['codigo'].to_dict()
for key in code_dict:
    code_dict[key] = int(code_dict[key]) * 1000
code_dict

{'ANTIOQUIA': 5000,
 'ATLANTICO': 8000,
 'BOGOTA': 11000,
 'BOLIVAR': 13000,
 'BOYACA': 15000,
 'CAUCA': 19000,
 'CALDAS': 17000,
 'CAQUETA': 18000,
 'CESAR': 20000,
 'CORDOBA': 23000,
 'CUNDINAMARCA': 25000,
 'CHOCO': 27000,
 'HUILA': 41000,
 'GUAJIRA': 44000,
 'MAGDALENA': 47000,
 'META': 50000,
 'NARINO': 52000,
 'NORTE DE SANTANDER': 54000,
 'QUINDIO': 63000,
 'RISARALDA': 66000,
 'SANTANDER': 68000,
 'SUCRE': 70000,
 'TOLIMA': 73000,
 'VALLE': 76000,
 'ARAUCA': 81000,
 'CASANARE': 85000,
 'PUTUMAYO': 86000,
 'ARCHIPIELAGO DE SAN ANDRES. PROVIDENCIA Y SANTA CATALINA': 88000,
 'AMAZONAS': 91000,
 'GUAINIA': 94000,
 'GUAVIARE': 95000,
 'VAUPES': 97000,
 'VICHADA': 99000}

In [13]:
df_deptos_c['CODIGO_MPIO'] = df_deptos_c['I01_DPTO'].map(code_dict) + df_deptos_c['I02_MPIO']
df_deptos_c.loc[df_deptos_c['I01_DPTO'] == "BOGOTA", 'CODIGO_MPIO'] = 11001
df_deptos_c

,I01_DPTO,I02_MPIO,P03_SEXO,P04_EDAD,P10_LEE_ES,P11_ESTUDI,P18_TRAB73,P19A_SINGR,P20_THNV,P05_ESTCIV_Casado,...,P14_TRABAJ_Busco por primera vez,P14_TRABAJ_Busco y ha trabajado,P14_TRABAJ_Estudio,P14_TRABAJ_Jubilado,P14_TRABAJ_No trabajo,P14_TRABAJ_Quehaceres del hogar,P14_TRABAJ_Sin actividad,P14_TRABAJ_Trabajo,P14_TRABAJ_Vivio de su renta,CODIGO_MPIO
0,HUILA,1,1,21,1.0,0.0,NaN,NaN,1.0,1,...,0,0,0,0,0,1,0,0,0,41001
1,HUILA,1,0,25,1.0,0.0,10.0,1000.0,NaN,1,...,0,0,0,0,0,0,0,1,0,41001
2,HUILA,1,0,7,0.0,0.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,41001
3,HUILA,1,1,8,0.0,0.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,41001
4,HUILA,1,0,9,1.0,1.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,41001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18777860,BOLIVAR,667,0,12,0.0,0.0,0.0,NaN,NaN,0,...,0,0,0,0,0,0,1,0,0,13667
18777861,BOLIVAR,667,1,31,1.0,0.0,0.0,NaN,1.0,0,...,0,0,0,0,0,1,0,0,0,13667
18777862,BOLIVAR,667,0,25,0.0,0.0,10.0,500.0,NaN,0,...,0,0,0,0,0,0,0,1,0,13667
18777863,BOLIVAR,667,1,64,0.0,0.0,0.0,NaN,14.0,1,...,0,0,0,0,0,1,0,0,0,13667
18777864,BOLIVAR,667,0,70,1.0,0.0,10.0,300.0,NaN,1,...,0,0,0,0,0,0,0,1,0,13667

In [14]:
# Define the file path
leagues_path = os.path.join(current_dir, "data", "leagues", "ligas_cod.dta")

df_leagues = pd.read_stata(leagues_path)
df_leagues = df_leagues[["codigo_municipio","ligas","numero_ligas"]]

# Create a dictionary to specify the new column names
column_mapping = {
    'codigo_municipio': 'CODIGO_MPIO',
    'ligas': 'league',
    'numero_ligas': 'num_leagues',
}

# Use the rename method to rename the columns
df_leagues = df_leagues.rename(columns=column_mapping)

league_dict = df_leagues.set_index('CODIGO_MPIO')['league'].to_dict()
num_leagues_dict = df_leagues.set_index('CODIGO_MPIO')['num_leagues'].to_dict()

In [15]:
df_deptos_c['LEAGUE'] = df_deptos_c['CODIGO_MPIO'].map(league_dict) 
df_deptos_c['NUM_LEAGUES'] = df_deptos_c['CODIGO_MPIO'].map(num_leagues_dict) 
df_deptos_c = df_deptos_c.dropna(subset=['LEAGUE'])
df_deptos_c

,I01_DPTO,I02_MPIO,P03_SEXO,P04_EDAD,P10_LEE_ES,P11_ESTUDI,P18_TRAB73,P19A_SINGR,P20_THNV,P05_ESTCIV_Casado,...,P14_TRABAJ_Estudio,P14_TRABAJ_Jubilado,P14_TRABAJ_No trabajo,P14_TRABAJ_Quehaceres del hogar,P14_TRABAJ_Sin actividad,P14_TRABAJ_Trabajo,P14_TRABAJ_Vivio de su renta,CODIGO_MPIO,LEAGUE,NUM_LEAGUES
0,HUILA,1,1,21,1.0,0.0,NaN,NaN,1.0,1,...,0,0,0,1,0,0,0,41001,1.0,2.0
1,HUILA,1,0,25,1.0,0.0,10.0,1000.0,NaN,1,...,0,0,0,0,0,1,0,41001,1.0,2.0
2,HUILA,1,0,7,0.0,0.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,41001,1.0,2.0
3,HUILA,1,1,8,0.0,0.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,41001,1.0,2.0
4,HUILA,1,0,9,1.0,1.0,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,41001,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18777860,BOLIVAR,667,0,12,0.0,0.0,0.0,NaN,NaN,0,...,0,0,0,0,1,0,0,13667,0.0,0.0
18777861,BOLIVAR,667,1,31,1.0,0.0,0.0,NaN,1.0,0,...,0,0,0,1,0,0,0,13667,0.0,0.0
18777862,BOLIVAR,667,0,25,0.0,0.0,10.0,500.0,NaN,0,...,0,0,0,0,0,1,0,13667,0.0,0.0
18777863,BOLIVAR,667,1,64,0.0,0.0,0.0,NaN,14.0,1,...,0,0,0,1,0,0,0,13667,0.0,0.0
18777864,BOLIVAR,667,0,70,1.0,0.0,10.0,300.0,NaN,1,...,0,0,0,0,0,1,0,13667,0.0,0.0

In [16]:
# Last processing
df_deptos_c = df_deptos_c.drop(columns=['I02_MPIO'])
df_deptos_c = df_deptos_c.sort_values(by=['CODIGO_MPIO'])

In [17]:
df_deptos_c.columns.tolist()

['I01_DPTO',
 'P03_SEXO',
 'P04_EDAD',
 'P10_LEE_ES',
 'P11_ESTUDI',
 'P18_TRAB73',
 'P19A_SINGR',
 'P20_THNV',
 'P05_ESTCIV_Casado',
 'P05_ESTCIV_Separado',
 'P05_ESTCIV_Soltero',
 'P05_ESTCIV_Union libre',
 'P05_ESTCIV_Viudo',
 'P12_NIVELE_Ninguno',
 'P12_NIVELE_Otros',
 'P12_NIVELE_Primaria',
 'P12_NIVELE_Secundaria Bachillerato',
 'P12_NIVELE_Secundaria Normal',
 'P12_NIVELE_Secundaria Tecnica',
 'P12_NIVELE_Superior',
 'P14_TRABAJ_Busco por primera vez',
 'P14_TRABAJ_Busco y ha trabajado',
 'P14_TRABAJ_Estudio',
 'P14_TRABAJ_Jubilado',
 'P14_TRABAJ_No trabajo',
 'P14_TRABAJ_Quehaceres del hogar',
 'P14_TRABAJ_Sin actividad',
 'P14_TRABAJ_Trabajo',
 'P14_TRABAJ_Vivio de su renta',
 'CODIGO_MPIO',
 'LEAGUE',
 'NUM_LEAGUES']

In [18]:
# Export the DataFrame to a CSV file
df_deptos_c.to_csv('output/census73.csv', index=False)

## Agrupar por municipio

In [2]:
import pandas as pd 
import numpy as np 
import os
import warnings
from unidecode import unidecode
warnings.filterwarnings("ignore", category=UnicodeWarning)

In [3]:
df_deptos_c = pd.read_csv('output/census73.csv')
df_deptos_c

,I01_DPTO,P03_SEXO,P04_EDAD,P10_LEE_ES,P11_ESTUDI,P18_TRAB73,P19A_SINGR,P20_THNV,P05_ESTCIV_Casado,P05_ESTCIV_Separado,...,P14_TRABAJ_Estudio,P14_TRABAJ_Jubilado,P14_TRABAJ_No trabajo,P14_TRABAJ_Quehaceres del hogar,P14_TRABAJ_Sin actividad,P14_TRABAJ_Trabajo,P14_TRABAJ_Vivio de su renta,CODIGO_MPIO,LEAGUE,NUM_LEAGUES
0,ANTIOQUIA,0,4,NaN,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,5001,0.0,0.0
1,ANTIOQUIA,0,5,0.0,0.0,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,5001,0.0,0.0
2,ANTIOQUIA,1,0,NaN,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,5001,0.0,0.0
3,ANTIOQUIA,1,51,1.0,0.0,10.0,NaN,NaN,1,0,...,0,0,0,0,0,1,0,5001,0.0,0.0
4,ANTIOQUIA,0,49,1.0,0.0,0.0,NaN,2.0,1,0,...,0,0,0,1,0,0,0,5001,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17645476,VALLE,1,55,0.0,0.0,NaN,NaN,4.0,1,0,...,0,0,0,1,0,0,0,76895,1.0,1.0
17645477,VALLE,0,10,0.0,0.0,NaN,NaN,NaN,0,0,...,0,0,0,0,1,0,0,76895,1.0,1.0
17645478,VALLE,1,71,1.0,0.0,0.0,NaN,NaN,0,0,...,0,0,0,1,0,0,0,76895,1.0,1.0
17645479,VALLE,0,31,1.0,0.0,NaN,NaN,NaN,0,0,...,0,0,0,0,0,1,0,76895,1.0,1.0
17645480,VALLE,0,6,1.0,1.0,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,76895,1.0,1.0

In [4]:
df_deptos_c = df_deptos_c.groupby(['I01_DPTO','CODIGO_MPIO']).mean()
df_deptos_c

                       P03_SEXO   P04_EDAD  P10_LEE_ES  P11_ESTUDI
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5001         0.464217  23.296602    0.863927    0.310122  \
          5002         0.504606  21.923092    0.739519    0.170983
          5004         0.499803  20.307511    0.799059    0.256000
          5021         0.496028  20.769378    0.771798    0.193460
          5030         0.504487  21.014792    0.714828    0.246384
...                         ...        ...         ...         ...
VALLE     76863        0.507209  19.993429    0.754636    0.270602
          76869        0.479525  22.483288    0.754115    0.196159
          76890        0.477541  21.854731    0.740897    0.210000
          76892        0.503771  21.896911    0.840031    0.302118
          76895        0.503796  21.318616    0.805679    0.316251

                       P18_TRAB73   P19A_SINGR  P20_THNV  P05_ESTCIV_Casado
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5001           4.015498  2050.461768  3.096567           0.261001  \
          5002           4.215712   537.199592  4.057638           0.276939
          5004           3.065737   794.780702  4.701149           0.249705
          5021           3.970072   646.392390  4.271702           0.275815
          5030           4.150526   807.160994  5.096745           0.248623
...                           ...          ...       ...                ...
VALLE     76863          3.674373   748.917954  4.921998           0.261362
          76869          4.005921   704.402874  4.021486           0.212849
          76890          3.513503   725.242424  4.468219           0.194754
          76892          3.303916  1332.616457  3.613376           0.210975
          76895          3.548111  1219.154394  3.982622           0.211511

                       P05_ESTCIV_Separado  P05_ESTCIV_Soltero  ...
I01_DPTO  CODIGO_MPIO                                           ...
ANTIOQUIA 5001                    0.009991            0.682474  ...  \
          5002                    0.002940            0.688801  ...
          5004                    0.005112            0.713724  ...
          5021                    0.003013            0.691044  ...
          5030                    0.006437            0.704401  ...
...                                    ...                 ...  ...
VALLE     76863                   0.005567            0.697025  ...
          76869                   0.014759            0.654319  ...
          76890                   0.013380            0.674100  ...
          76892                   0.013253            0.671168  ...
          76895                   0.011244            0.672522  ...

                       P14_TRABAJ_Busco y ha trabajado  P14_TRABAJ_Estudio
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5001                                0.010000            0.212508  \
          5002                                0.004390            0.111246
          5004                                0.003146            0.162800
          5021                                0.003561            0.106546
          5030                                0.005137            0.167234
...                                                ...                 ...
VALLE     76863                               0.003103            0.159974
          76869                               0.003762            0.103603
          76890                               0.005097            0.123075
          76892                               0.008394            0.184690
          76895                               0.006766            0.173840

                       P14_TRABAJ_Jubilado  P14_TRABAJ_No trabajo
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5001                    0.006038               0.005382  \
          5002                    0.001098               0.003214
          5004                    0.000393               0.000393
          5021                    0.000274               0.004382
          5030                    0.002971               0.004271
...                                    ...                    ...
VALLE     76863                   0.000091               0.003194
          76869                   0.001013               0.004630
          76890                   0.001487               0.002442
          76892                   0.004607               0.007005
          76895                   0.002573               0.005273

                       P14_TRABAJ_Quehaceres del hogar
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5001                                0.188056  \
          5002                                0.256360
          5004                                0.204090
          5021                                0.255820
          5030                                0.205298
...                                                ...
VALLE     76863                               0.220843
          76869                               0.221965
          76890                               0.213762
          76892                               0.201130
          76895                               0.191246

                       P14_TRABAJ_Sin actividad  P14_TRABAJ_Trabajo
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5001                         0.026290            0.265344  \
          5002                         0.023402            0.269060
          5004                         0.022021            0.232796
          5021                         0.012325            0.239113
          5030                         0.026800            0.239587
...                                         ...                 ...
VALLE     76863                        0.026556            0.219839
          76869                        0.031255            0.280712
          76890                        0.031326            0.250292
          76892                        0.028841            0.232937
          76895                        0.031064            0.234793

                       P14_TRABAJ_Vivio de su renta  LEAGUE  NUM_LEAGUES
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5001                             0.010249     0.0          0.0
          5002                             0.006115     0.0          0.0
          5004                             0.009831     0.0          0.0
          5021                             0.007121     0.0          0.0
          5030                             0.004456     0.0          0.0
...                                             ...     ...          ...
VALLE     76863                            0.006206     0.0          0.0
          76869                            0.009405     0.0          0.0
          76890                            0.010513     0.0          0.0
          76892                            0.007510     0.0          0.0
          76895                            0.006797     1.0          1.0

[837 rows x 30 columns]

In [5]:
# Export the DataFrame to a CSV file
df_deptos_c.to_csv('output/census73_grouped.csv', index=True)

In [17]:
df_deptos_c[df_deptos_c["NUM_LEAGUES"] > 0]

                       P03_SEXO   P04_EDAD  P10_LEE_ES  P11_ESTUDI
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5079         0.492262  20.730781    0.775378    0.263433  \
          5483         0.499417  20.561607    0.652836    0.167655
          5756         0.486297  21.626987    0.726329    0.206323
          5890         0.506178  20.933481    0.744302    0.228866
ATLANTICO 8001         0.529973  22.384503    0.864412    0.331978
...                         ...        ...         ...         ...
VALLE     76001        0.530050  23.124276    0.891184    0.317408
          76100        0.492327  20.819562    0.739647    0.225787
          76111        0.523991  23.113500    0.836669    0.295493
          76563        0.491265  21.973019    0.743811    0.234422
          76895        0.503796  21.318616    0.805679    0.316251

                       P18_TRAB73   P19A_SINGR  P20_THNV  P05_ESTCIV_Casado
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5079           2.948955   894.443035  4.421859           0.257210  \
          5483           3.055256   699.085055  4.543420           0.282881
          5756           3.300750   722.496992  4.005290           0.262055
          5890           4.233403   861.099687  4.876059           0.247241
ATLANTICO 8001           3.456315  1992.545528  2.994801           0.220753
...                           ...          ...       ...                ...
VALLE     76001          4.301352  1968.534242  2.992070           0.233865
          76100          3.829803   886.176245  4.499317           0.241548
          76111          3.319715  1441.278404  3.512792           0.223148
          76563          3.855629  1000.290335  4.081332           0.200452
          76895          3.548111  1219.154394  3.982622           0.211511

                       P05_ESTCIV_Separado  P05_ESTCIV_Soltero  ...
I01_DPTO  CODIGO_MPIO                                           ...
ANTIOQUIA 5079                    0.004070            0.706261  ...  \
          5483                    0.002041            0.685550  ...
          5756                    0.003740            0.694691  ...
          5890                    0.004978            0.706634  ...
ATLANTICO 8001                    0.017374            0.667911  ...
...                                    ...                 ...  ...
VALLE     76001                   0.016914            0.658223  ...
          76100                   0.008285            0.689502  ...
          76111                   0.015511            0.670213  ...
          76563                   0.012855            0.658615  ...
          76895                   0.011244            0.672522  ...

                       P14_TRABAJ_Busco y ha trabajado  P14_TRABAJ_Estudio
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5079                                0.002311            0.166616  \
          5483                                0.003062            0.108414
          5756                                0.002432            0.145293
          5890                                0.004259            0.152411
ATLANTICO 8001                                0.012014            0.207345
...                                                ...                 ...
VALLE     76001                               0.011440            0.185667
          76100                               0.005060            0.125612
          76111                               0.009720            0.176766
          76563                               0.011301            0.136130
          76895                               0.006766            0.173840

                       P14_TRABAJ_Jubilado  P14_TRABAJ_No trabajo
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5079                    0.002311               0.002010  \
          5483                    0.000583               0.003791
          5756                    0.001438               0.003295
          5890                    0.000540               0.005518
ATLANTICO 8001                    0.005113               0.008252
...                                    ...                    ...
VALLE     76001                   0.005083               0.007032
          76100                   0.000612               0.004949
          76111                   0.003387               0.005162
          76563                   0.001836               0.006969
          76895                   0.002573               0.005273

                       P14_TRABAJ_Quehaceres del hogar
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5079                                0.229826  \
          5483                                0.243147
          5756                                0.239304
          5890                                0.206754
ATLANTICO 8001                                0.171412
...                                                ...
VALLE     76001                               0.182563
          76100                               0.217082
          76111                               0.203772
          76563                               0.200970
          76895                               0.191246

                       P14_TRABAJ_Sin actividad  P14_TRABAJ_Trabajo
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5079                         0.024671            0.207165  \
          5483                         0.043234            0.220327
          5756                         0.030805            0.238755
          5890                         0.022913            0.253239
ATLANTICO 8001                         0.034338            0.248643
...                                         ...                 ...
VALLE     76001                        0.023996            0.292533
          76100                        0.027246            0.238379
          76111                        0.031740            0.252194
          76563                        0.028676            0.264020
          76895                        0.031064            0.234793

                       P14_TRABAJ_Vivio de su renta  LEAGUE  NUM_LEAGUES
I01_DPTO  CODIGO_MPIO
ANTIOQUIA 5079                             0.003869     1.0          1.0
          5483                             0.008603     1.0          1.0
          5756                             0.007558     1.0          1.0
          5890                             0.005098     1.0          1.0
ATLANTICO 8001                             0.008433     1.0          1.0
...                                             ...     ...          ...
VALLE     76001                            0.010260     1.0          2.0
          76100                            0.013679     1.0          1.0
          76111                            0.013446     1.0          1.0
          76563                            0.009653     1.0          1.0
          76895                            0.006797     1.0          1.0

[78 rows x 30 columns]